<%- include('partials/header'); -%>

<ul class="user-list">
  <% if(users && users.length) { %>
    <% users.forEach(user=> { %>
      <li class="user-item">
        <a href="/userprofile/username/<%= user.username %>" class="user-link">
          <img src="<%= user.userpic %>" alt="<%= user.username %>'s picture" class="user-avatar">
          (@<%= user.username %>)
        </a>
      </li>
    <% }) %>
  <% } else { %>
      <p class="no-users-message">No users found</p>
  <% } %>
</ul>



  <%- include('partials/footer'); -%>